<nav
        fxFlex
        class="sidebar">
    <ul
        fxLayout="column"
        fxLayout.md="row"
        class="side-nav">
        <li
            fxLayoutAlign.md="center"
            fxFlex.md
            class="side-nav__item side-nav__item--active">
            <a fxLayoutAlign="none center" class="side-nav__link" href="#">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-home"></use>
                </svg>
                <span>Hotel</span>
            </a>
        </li>
        <li
            fxLayoutAlign.md="center"
            fxFlex.md
            class="side-nav__item">
            <a fxLayoutAlign="none center" class="side-nav__link" href="#">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-aircraft-take-off"></use>
                </svg>
                <span>Flight</span>
            </a>
        </li>
        <li
            fxLayoutAlign.md="center"
            fxFlex.md
            class="side-nav__item">
            <a fxLayoutAlign="none center" class="side-nav__link" href="#">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-key"></use>
                </svg>
                <span>Car rental</span>
            </a>
        </li>
        <li
            fxLayoutAlign.md="center"
            fxFlex.md
            class="side-nav__item">
            <a fxLayoutAlign="none center" class="side-nav__link" href="#">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/sprite.svg#icon-map"></use>
                </svg>
                <span>Tours</span>
            </a>
        </li>
    </ul>
    <div class="legal">
        &copy; 2017 by trillo. All rights reserved.
    </div>
</nav>
