<main fxFill class="hotel-view">
    <div fxLayout="row" class="gallery">
        <figure class="gallery__item">
            <img class="gallery__photo" src="assets/img/hotel-1.jpg" alt="Photo of hotel 1">
        </figure>
        <figure class="gallery__item">
            <img class="gallery__photo" src="assets/img/hotel-2.jpg" alt="Photo of hotel 2">
        </figure>
        <figure class="gallery__item">
            <img class="gallery__photo" src="assets/img/hotel-3.jpg" alt="Photo of hotel 3">
        </figure>
    </div>

    <div fxLayout="row" fxLayoutAlign="none stretch" class="overview">
        <h1 class="overview__heading">Hotel Las Palmas</h1>

        <div fxLayout="row" fxLayoutAlign="none center" class="overview__stars">
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
        </div>

        <div fxLayout="row" fxLayoutAlign="none center" class="overview__location">
            <svg class="overview__icon-location">
                <use xlink:href="assets/img/sprite.svg#icon-location-pin"></use>
            </svg>
            <button class="btn-inline">Albofeira, Portugal</button>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="overview__rating">
            <div class="overview__rating-average">8.6</div>
            <div class="overview__rating-count">429 votes</div>
        </div>
    </div>
</main>
