.hotel-view {
    background-color: #fff;
}

.gallery {
    &__photo {
        width: 100%;
        display: block;
    }
}

.overview {
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto;
    }

    &__icon-star
    ,&__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
    }

    &__icon-location  {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }
}

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate  {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50%  {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

.detail {
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4.5rem;
}

.user-reviews {
    background-color: yellow;
}
