<main
         fxFlex
         class="hotel-view">
    <div fxLayout="row" class="gallery">
        <figure class="gallery__item">
            <img class="gallery__photo" src="assets/img/hotel-1.jpg" alt="Photo of hotel 1">
        </figure>
        <figure class="gallery__item">
            <img class="gallery__photo" src="assets/img/hotel-2.jpg" alt="Photo of hotel 2">
        </figure>
        <figure class="gallery__item">
            <img class="gallery__photo" src="assets/img/hotel-3.jpg" alt="Photo of hotel 3">
        </figure>
    </div>

    <div fxLayoutAlign="none stretch" class="overview">
        <h1 class="overview__heading">Hotel Las Palmas</h1>

        <div fxLayoutAlign="none center" class="overview__stars">
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="overview__icon-star">
                <use xlink:href="assets/img/sprite.svg#icon-star"></use>
            </svg>
        </div>

        <div fxLayoutAlign="none center" class="overview__location">
            <svg class="overview__icon-location">
                <use xlink:href="assets/img/sprite.svg#icon-location-pin"></use>
            </svg>
            <button class="btn-inline">Albofeira, Portugal</button>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="overview__rating">
            <div class="overview__rating-average">8.6</div>
            <div class="overview__rating-count">429 votes</div>
        </div>
    </div>

    <div
        fxLayout.sm="column"
        class="detail">
        <div fxFlex="0 0 60" class="description">
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.</p>
            <p class="paragraph">Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.</p>
            <ul fxLayout="row wrap" class="list">
                <li fxFlex="50" class="list__item">Close to the beach</li>
                <li fxFlex="50" class="list__item">Breakfast included</li>
                <li fxFlex="50" class="list__item">Free airport shuttle</li>
                <li fxFlex="50" class="list__item">Free wifi in all rooms</li>
                <li fxFlex="50" class="list__item">Air conditioning and heating</li>
                <li fxFlex="50" class="list__item">Pets allowed</li>
                <li fxFlex="50" class="list__item">We speak all languages</li>
                <li fxFlex="50" class="list__item">Perfect for families</li>
            </ul>
            <div fxLayoutAlign="none center" class="recommend">
                <p class="recommend__count">Lucy and 3 other friends reccomend this hotel</p>
                <div
                    fxLayout="row"
                    class="recommend__fiends">
                    <img class="recommend__photo" alt="Friend 1" src="assets/img/user-3.jpg">
                    <img class="recommend__photo" alt="Friend 2" src="assets/img/user-4.jpg">
                    <img class="recommend__photo" alt="Friend 3" src="assets/img/user-5.jpg">
                    <img class="recommend__photo" alt="Friend 4" src="assets/img/user-6.jpg">
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="none center" fxFlex="100" class="user-reviews">
            <figure class="review">
                <blockquote class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.</blockquote>
                <figcaption fxLayoutAlign="none center" class="review__user">
                    <img class="review__photo" src="assets/img/user-1.jpg" alt="User 1">
                    <div class="review__user-box">
                        <p class="review__user-name">Nick Smith</p>
                        <p class="review__user-date">Feb 23rd, 2017</p>
                    </div>
                    <div class="review__rating">7.8</div>
                </figcaption>
            </figure>
            <figure class="review">
                <blockquote class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi.</blockquote>
                <figcaption fxLayoutAlign="none center" class="review__user">
                    <img class="review__photo" src="assets/img/user-2.jpg" alt="User 2">
                    <div class="review__user-box">
                        <p class="review__user-name">Mary Thomas</p>
                        <p class="review__user-date">Sept 13, 2017</p>
                    </div>
                    <div class="review__rating">9.3</div>
                </figcaption>
            </figure>
            <button class="btn-inline">Show all <span>&rarr;</span></button>
        </div>
    </div>
    <div class="cta">
        <h2 class="cta__book-now">
            Good news! We have 4 free rooms for your selected dates!
        </h2>
        <button class="btn">
            <span class="btn__visible">Book now</span>
            <span class="btn__invisible">Only 4 rooms left</span>
        </button>
    </div>
</main>
