<header
           fxLayout.xs="row wrap"
           fxLayoutAlign.xs="space-between space-between"

           fxLayout="row"
           fxLayoutAlign="space-between center"
           class="header">
    <img class="logo" src="assets/img/logo.png" alt="trillo logo">
    <form
        fxFlex.xs="0 0 100"
        fxFlexOrder.xs="1"

        fxFlex="0 0 40"
        fxLayout="row"
        fxLayoutAlign="center"
        class="search"
        action="#">
        <input class="search__input" type="text" placeholder="Search hotels">
        <button class="search__button">
            <svg class="search__icon">
                <use xlink:href="assets/img/sprite.svg#icon-magnifying-glass"></use>
            </svg>
        </button>
    </form>
    <nav fxLayout="row" fxLayoutAlign="center" fxFlexAlign="stretch" class="user-nav">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center" class="user-nav__icon-box">
            <svg class="user-nav__icon">
                <use xlink:href="assets/img/sprite.svg#icon-bookmark"></use>
            </svg>
            <span fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center" class="user-nav__notification">7</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center" class="user-nav__icon-box">
            <svg class="user-nav__icon">
                <use xlink:href="assets/img/sprite.svg#icon-chat"></use>
            </svg>
            <span fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center" class="user-nav__notification">13</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center" class="user-nav__user">
            <img class="user-nav__user-photo" src="assets/img/user.jpg" alt="User photo">
            <span class="user-nav__user-name">Jonas</span>
        </div>
    </nav>
</header>
